<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/css/index.css" rel="stylesheet" />
    <title>JK-Pace&mdash;</title>
  </head>
  <body>
    <section class="header">
      <nav class="nav-header">
        <img src="../public/img/pngwing.com.png" alt="logo" class="logo-img" />
        <h3 class="header-text">
          J&K Public Automated Credibility Establishment
        </h3>
        <img
          src="../public/img/JKEGA_logo.png"
          alt="jakega logo"
          class="logo-img"
        />
      </nav>
      <div class="container">
        <div class="screen">
          <h3 class="login-icon">Login</h3>
          <div class="screen__content">
            <form class="login">
              <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input
                  type="text"
                  class="login__input"
                  placeholder="User name / Email"
                />
              </div>
              <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input
                  type="password"
                  class="login__input"
                  placeholder="Password"
                />
              </div>
              <button class="button login__submit">
                <span class="button__text">Log In Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>
            </form>
          </div>
          <div class="screen__background">
            <span
              class="screen__background__shape screen__background__shape4"
            ></span>
            <span
              class="screen__background__shape screen__background__shape3"
            ></span>
            <span
              class="screen__background__shape screen__background__shape2"
            ></span>
            <span
              class="screen__background__shape screen__background__shape1"
            ></span>
          </div>
        </div>
      </div>
      <footer class="footer">
        <p class="footer-text">
          Copyright © JK-PACE, Govt. of J&K. All rights reserved.
        </p>
        <p class="footer-text">
          Powered by: J&K e-Governance Agency, IT Department, Govt. of J&K
        </p>
        <p class="footer-text">Developed by: JaKeGA</p>
      </footer>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
